header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    background-color: #ffffff;
    color: #000000;
    
    }

article{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: #ffffff;
    color: #200350;
    margin-top: 18px;
    margin-bottom: 20px;
    line-height: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid black;
    padding: 10px
}

footer{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    background-color: #ffffff;
    color: #000000;


}