body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../Images/Space.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .logo {
    width: 25%;
    height: 100%;
    margin: 3% 10%
  }
  
  header {
    display: grid;
    grid-template-columns: 40% 55%;
    width: 100%;
  }
  
  main {
    height: 90%;
    width: 90%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }
  
  nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
  }
  
  .has-border {
    border-radius: 25px;
    border: 2px solid rgb(95, 7, 195);
    background: none;
    padding: 20px; 
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  #profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 15% auto;
    grid-column: 2/3;
    
  }
  
  h1 {
    color:white;
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid #1940A9;;
  }
  
  h2 {
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
    color: rgb(0, 34, 126)
  }
  
  button {
    grid-column: 2/3;
    margin: 3% auto;
    width: 70%;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    padding-bottom: 5%;
    text-align: center;
    color: white;
    letter-spacing: 16px;
    font-style: italic;
  }